@font-face {
  font-family: "HelveticaNow";
  src: 
    url("/fonts/HelveticaNowDisplay-Light.woff2") format("woff2"),
    url("/fonts/HelveticaNowDisplay-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "HelveticaNow";
  src: 
    url("/fonts/HelveticaNowDisplay-LightIta.woff2") format("woff2"),
    url("/fonts/HelveticaNowDisplay-LightIta.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "HelveticaNow";
  src: 
    url("/fonts/HelveticaNowDisplay-Regular.woff2") format("woff2"),
    url("/fonts/HelveticaNowDisplay-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "HelveticaNow";
  src: 
    url("/fonts/HelveticaNowDisplay-RegIta.woff2") format("woff2"),
    url("/fonts/HelveticaNowDisplay-RegIta.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "HelveticaNow";
  src: 
    url("/fonts/HelveticaNowDisplay-Medium.woff2") format("woff2"),
    url("/fonts/HelveticaNowDisplay-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "HelveticaNow";
  src: 
    url("/fonts/HelveticaNowDisplay-MedIta.woff2") format("woff2"),
    url("/fonts/HelveticaNowDisplay-MedIta.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "HelveticaNow";
  src: 
    url("/fonts/HelveticaNowDisplay-Bold.woff2") format("woff2"),
    url("/fonts/HelveticaNowDisplay-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "HelveticaNow";
  src: 
    url("/fonts/HelveticaNowDisplay-BoldIta.woff2") format("woff2"),
    url("/fonts/HelveticaNowDisplay-BoldIta.woff") format("woff");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}



//COMMON CONTAINERS
html{
  @apply overflow-x-clip font-helvetica overscroll-x-none;
}
.page-enter-active,
.page-leave-active {
  transition: all 0.3s ease;
}

.page-enter-from,
.page-leave-to {
  opacity: 0;
  transform: translateY(10px);
}
.div--container-small{
  @apply w-full max-w-[1080px] mx-auto xl:px-14 md:px-8 px-6;
}
.div--container{
  @apply w-full xl:px-14 md:px-8 px-6 max-w-[1800px] mx-auto;
}
.div--container-full{
  @apply w-full px-0;
}
section{
  @apply overflow-x-clip;
}

//SPACINGS
.space-top{
  @apply xl:pt-[110px] pt-12;
}
.margin-top{
  @apply xl:mt-[110px] mt-12;
}
.space-top-half{
  @apply 2xl:pt-20 xl:pt-20 pt-12;
}
.space-bottom{
  @apply xl:pb-[110px] pb-12;
}
.space-bottom-half{
  @apply 2xl:pb-20 xl:pb-20 pb-12;
}
.space-top-double{
  @apply xl:pt-[180px] pt-[80px];
}
.space-bottom-double{
  @apply xl:pb-[180px] pb-[80px];
}

//VERTICAL SPACING
.verticalspace-small > section:not(:first-child) , .verticalspace-small > div:not(:first-child){
  @apply xl:pt-16 pt-10;
}
.verticalspace > section:not(:first-child) , .verticalspace > div:not(:first-child){
  @apply xl:pt-[110px] pt-12;
}
.verticalspace-double > section:not(:first-child) , .verticalspace-double > div:not(:first-child){
  @apply xl:pt-40 pt-20;
}

//GRIDS
.common--grid{
  @apply grid grid-cols-12 md:gap-6 gap-y-8;
}
.check--mobile--order{
  @apply flex flex-col-reverse md:grid;
}
.h1 {
  @apply font-helvetica font-bold lg:text-[80px] text-[64px] leading-[110%];
}
.h2 {
  @apply font-helvetica font-bold lg:text-[64px] text-[48px] leading-[110%];
}
.h3 {
  @apply font-helvetica font-bold lg:text-[56px] text-[40px] leading-[115%];
}
.h3small {
  @apply font-helvetica font-bold lg:text-[48px] text-[32px] leading-[115%];
}
.h4 {
  @apply font-helvetica font-medium lg:text-[32px] text-[24px] leading-[130%];
}
.h5 {
  @apply font-helvetica font-medium lg:text-[20px] text-[18px] leading-[150%];
}
.h6 {
  @apply font-helvetica font-medium text-sm uppercase;
}
p + p , ul + p , p + ul, ol + p , p + ol{
  @apply pt-4;
}

//HOMEPAGE
.zambelli-gallery-home{
  .medias{
    img{
      width: 1px;
      height: 1px;
      top: 0;
      left: 0;
      position: absolute;
      visibility: hidden;
      pointer-events: none;
    }
  }
  & > img{
    position: absolute;
    top: 50%;
    left: 50%;
    object-fit: cover;
    border-radius: 0.3vw;

    &.size-one{
      @apply w-[21vw] h-auto;
    }
    &.size-two{
      @apply w-[17vw] h-auto;
    }
    &.size-three{
      @apply w-[14vw] h-auto;
    }
    &.size-four{
      @apply w-[18vw] h-auto;
    }
    &.size-five{
      @apply w-[18vw] h-auto;
    }
    &.size-six{
      @apply w-[15vw] h-auto;
    }
  }
}